---
import Category from '../components/Category.astro';
import Banner from '../components/Banner.astro';
import Posts from '@components/Posts';

const tags = ["health", "learning"]
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
		<div class="page-container">
			<Banner />
			<div class="title-row">
				<h3>Posts</h3>
				<ul class="tags-list">
					Hot Tags:{tags.map((tag)=> {
						return <li>
						<a href={`/categories/${tag}`}>#{tag.toLocaleLowerCase()}</a>
					</li>
					})}
				</ul>
			</div>
			<Posts client:load/>
			<Category/>
		</div>
	</body>
</html>
<style>
.page-container {
padding: 40px;
}

.title-row {
display: flex;
justify-content: space-between;
}
.tags-list {
display: flex;
}
.tags-list > li, a {
list-style: none;
margin-right: 5px;
text-decoration: none;
}

.posts-container {
flex-wrap: wrap;
display: flex;
flex-direction: row;
}
 </style>
