---
const tags = ["#covid", "#inspiration", "#work online", "#stay home"]
---

<div class="title-row">
    <h3>Posts</h3>
    <ul class="tags-list">
        Hot Tags:{tags.map((tag)=> {
            return <li>
            <a href="">{tag.toLocaleLowerCase()}</a>
        </li>
        })}
    </ul>
</div>
<a href="/posts/1">
    <div class="post">
        <div class="post-image">
        </div>
        <div class="post-details">
            <a class="post-tag" href="/category/work">
                <p>work</p>
            </a>
            <h4 class="post-title">
                Helpful Tips for Working from Home as a Developer
            </h4>
            <div class="post-info">
                <p>27 August</p>
                <p>23k Views</p>
            </div>
        </div>
    </div>
</a>

<style>
.title-row {
display: flex;
justify-content: space-between;
}
.tags-list {
display: flex;
}
.tags-list > li, a {
list-style: none;
margin-right: 5px;
text-decoration: none;
}

.post {
width: 348px;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
cursor: pointer;
}
.post-image {
background-image: url('public/assets/coffe.jpeg');
width: 348px;
height: 220px;
background-size: cover;
}
.post-details {
padding: 20px;
box-sizing: border-box;
box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.post-title {
font-weight: 900;
font-size: 20px;
}
.post-tag {
text-decoration: none;
color:#4da7d4;
}
.post-info{
width: 150px;
display:flex;
justify-content: space-between;
}
 </style>
