---
import Image from "../components/Image.astro";
const { author, message, date, hour } = Astro.props
---
  <div class="comment-container">
    <Image image={"https://www.nicepng.com/png/detail/933-9332131_profile-picture-default-png.png"}/>
    <div class="comment-content">
      <p>{message}</p>
      <div class="comment-details">
        <p class="author">{author}</p>
        <p>{date} {hour}</p>
      </div>
    </div>
  </div>


<style>
.comment-container{
display: flex;
align-items: center;
}
.page-container {
padding: 40px;
}
.comment-card {
display: flex;
}
.profile-image {
height: 64px;
width: 64px;
border-radius: 50%;
margin-right: 15px;
}
.comment-content {
display: flex;
flex-direction: column;
}
.comment-details {
display: flex;
}
.author {
margin-right: 10px;
}
 </style>